* {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
	font-size: 1rem;
	height: fit-content;
}

h1 {
	font-weight: 800;
	font-size: 2.8rem;
	margin: 0.438rem 0;
	border-bottom: 2px solid #cccccc;
}

h2 {
	font-size: 2.2rem;
	margin: 0.333rem 0;
}

h3 {
	font-size: 1.9rem;
	margin: 0.25rem 0;
}

h4 {
	font-size: 1.7rem;
	margin: 0.209rem 0;
}

h5 {
	font-size: 1.5rem;
	margin: 0.15rem 0;
}

h6 {
	font-size: 1.3rem;
	margin: 0.125rem 0;
}

.oli {
	list-style-type: none;
	display: list-item;
}

.uli {
	list-style-type: disc;
	display: list-item;
}

.code,
.code * {
	font-family: Consolas, "Courier New", monospace !important;
}

a {
	text-decoration: none;
}
