@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 1vw;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

p {
	margin: 0.25rem 0;
}

@media only screen and (max-width: 800px) and (min-aspect-ratio: 8/10) {
	html {
		font-size: 1.5vw;
	}
}

@media only screen and (max-width: 800px) and (max-aspect-ratio: 8/10) {
	html {
		font-size: 4vw;
	}
}
