.container {
	display: grid;
	grid-template-columns: 2fr 5fr minmax(0, 2fr);
	width: 100%;
}

.post {
	grid-column-start: 2;
	width: 100%;
}

.hierarchy {
	margin-top: 15em;
	align-self: start;
	grid-column-start: 3;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: 10px;
}

.hierarchyElement {
	padding: 0px 4px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.h1 {
	font-size: 22px;
	margin: 1px 2px;
	font-weight: bold;
}

.h2 {
	font-size: 20px;
	margin: 1px 10px;
}

.h3 {
	font-size: 18px;
	margin: 1px 18px;
}

.h4 {
	font-size: 16px;
	margin: 1px 26px;
}

.h5 {
	font-size: 14px;
	margin: 1px 34px;
}

.h6 {
	font-size: 12px;
	margin: 1px 42px;
}

@media only screen and (max-width: 800px) {
	.container {
		grid-template-columns: 1fr 20fr 1fr;
	}

	.hierarchy {
		display: none;
	}
}
