.container {
	display: grid;
	grid-template-columns: 2fr 5fr minmax(0, 2fr);
	grid-template-rows: 15rem minmax(0, 1fr);
	width: 100%;
}

.post {
	grid-column-start: 2;
	grid-row: 1 / 4;
	width: 100%;
}

.hierarchy {
	align-self: start;
	grid-column-start: 3;
	grid-row: 2 / 3;
	position: -webkit-sticky;
	position: sticky;
	top: 0.5rem;
	padding: 0.5rem;
	border-left: 2px solid #cccccc;
}

.hierarchyElement {
	padding: 0px 0.5rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	transition: 0.25s;
	border-radius: 4px;
	font-weight: 600;
}

.hierarchyElement:hover {
	cursor: pointer;
	color: #0000ffbb;
	padding-left: 1rem;
}

.metadata {
	padding: 0.5rem;
	grid-column: 3;
	grid-row: 1;
}

.metadataListItem {
	font-weight: lighter;
	font-size: 1.3rem;
	text-align: right;
}

.listTopic {
	font-weight: bold;
	text-align: left;
	float: left;
}

@media only screen and (max-width: 1300px) {
	.metadataListItem {
		text-align: left;
		display: block;
	}

	.listTopic {
		text-align: initial;
		float: initial;
	}

	.listTopic::after {
		content: "\A";
		white-space: pre;
	}
}

@media only screen and (max-width: 800px) {
	.container {
		grid-template-columns: 1fr 20fr 1fr;
		grid-template-rows: 1fr minmax(0, 15rem);
	}

	.hierarchy {
		display: none;
	}

	.metadata {
		grid-column: 2;
		grid-row: 2;
		border-top: 2px solid #cccccc;
	}
}
